<!-- A layout template. Helps you maintain a consistent layout across multiple
  pages. For example, a navbar or header can be declared once here, and show up
  on all pages that extend this template.

  We define our entire page, leaving "blocks" that will be filled in by children
  -->
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- We already declared a title block, so the value of that is stored in a macro -->
    <h1>{{ self.title() }}</h1>
    
    <p>This is a header</p>

    {% block content %}{% endblock %}
    
  </body>
</html>